body {
    background-color: lightseagreen;
}

.form {
    text-align: center;
    border: none;
}

.buscador {
    padding: 5px;
    box-shadow: 0px 0px .1rem #fff;
    border: none;
    border-radius: 15px 15px 15px 15px;
    width: 200px;
}

.buscador:focus-visible {
    border: none;
    outline: none;
}

.gif {
    border-radius: 10px;
    width: 300px;
    max-width: 100%;
    aspect-ratio: 1 / 1 ;
    object-fit: cover;
    margin: 10px;
}

.grid-gifs {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

h2 {
    color: #fff;
    font-family: sans-serif;
}
